.category {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    position: relative;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;

    ::before {
        content: '';
        width: 1px;
        background-color: #9e9e9e87;
        position: absolute;
        top: 100%;
        left: calc(50% - 1px);
        height: 33px;
    }
    ::after {
        content: '';
        width: 1px;
        background-color: #9e9e9e87;
        position: absolute;
        top: -53%;
        left: calc(50% - 1px);
        height: 33px;
    }
    
    
    p, input {
        margin: 0;
        padding: 20px 30px;
        background-color: #fff;
        border: 1px solid #9e9e9e87;
        border-radius: 4px;
        text-align: center;
        width: 100px;
    }
    input {
        padding: 20px 30px;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border-radius: 25px;
        background-color: #9e9e9e87;
        color: #fff;
        font-size: 12px;
        cursor: pointer;

        &.times {
            background-color: rgb(224, 39, 39);
        }
    }
    .done {
        background-color: rgb(54, 178, 54);
    }
    .zero {
        border: 1px dashed #9e9e9e87;
    }
    .actions {
        width: 0px;
        overflow: hidden;
        display: flex;
        gap: 8px;
        transition: all 0.7s;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
    }
    &:hover .actions {
        width: 100px;
    }
}
.child {
    padding-block: 15px;

    .category--box {
        position: relative;

        &:nth-child(3) .line {
            left: -50%;
        }
    }
    
    .line {
        content: "";
        position: absolute;
        width: calc(100%);
        height: 70px;
        border-top: 1px solid #9e9e9ec8;
        top: -14px;
        left: 50%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        z-index: -1;
    }
}
.root {
    p {
        background-color: #ffffff18;
        border: 1px dashed #9e9e9e87;
    }
    ::before {
        border-top: none;
    }
    

    ::before {
        top: 98%;
    }
    ::after {
        display: none;
    }
}
.no-child {
    ::before {
        top: -52%;
    }
    ::after {
        display: none;
    }
}