:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
body.dark {
  background-color: #111423;
  color: rgba(255, 255, 255, 0.8039215686);
}
body.dark main {
  background-color: #0b0d1a;
}
body.dark .topbar p, body.dark .topbar p ul {
  background-color: #131725;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  font-size: 14px;
}
.topbar h2 {
  font-weight: 400;
}
.topbar h2 span {
  font-size: 14px;
  padding: 3px 8px;
  color: #ffffff;
  border-radius: 7px;
  background-color: rgb(249, 150, 88);
}
.topbar .buttons {
  display: flex;
  position: relative;
  gap: 5px;
}
.topbar .buttons p {
  padding: 15px 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.4);
  cursor: pointer;
  position: relative;
}
.topbar .buttons p ul {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1607843137);
  background-color: #ffffff;
  color: #999999;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  z-index: 2;
}
.topbar .buttons p ul.open {
  height: auto;
}
.topbar .buttons p ul li {
  list-style-type: none;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.topbar .buttons p ul li:hover {
  background-color: #e7e7e7;
  color: #000;
  font-weight: 700;
}
.topbar .buttons p ul li.active {
  color: #6a8ac7;
}

main {
  width: 100%;
  height: 78vh;
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
  position: relative;
  background-size: cover;
  overflow: hidden;
}
main .direction span {
  padding: 20px 5px;
  background-color: rgba(0, 0, 0, 0.0352941176);
  font-size: 12px;
  position: absolute;
  cursor: pointer;
}
main .direction span:hover {
  background-color: rgba(0, 0, 0, 0.1607843137);
}
main .direction span.top {
  left: calc(50% - 25px);
  padding: 5px 20px;
  top: 0;
}
main .direction span.bottom {
  left: calc(50% - 25px);
  padding: 5px 20px;
  bottom: 0;
}
main .direction span.left {
  top: calc(50% - 25px);
  padding: 20px 5px;
  left: 0;
}
main .direction span.right {
  top: calc(50% - 25px);
  padding: 20px 5px;
  right: 0;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  position: relative;
}
.tree.one .category--box {
  position: relative;
}
.tree.one .category--box .line {
  display: none;
}
.tree.two {
  width: 500px;
}
.tree.two .category--box {
  position: relative;
}
.tree.two .category--box:nth-child(2) .line {
  left: -50%;
}
.tree.three {
  width: 900px;
}
.tree.three .category--box {
  position: relative;
}
.tree.three .category--box:nth-child(3) .line {
  left: -50%;
}
.tree.four {
  width: 1500px;
}
.tree.four .category--box {
  position: relative;
}
.tree.four .category--box:nth-child(3) .line, .tree.four .category--box:nth-child(4) .line {
  left: -50%;
}
.tree.five {
  width: 2000px;
}
.tree.five .category--box {
  position: relative;
}
.tree.five .category--box:nth-child(3) .line, .tree.five .category--box:nth-child(4) .line, .tree.five .category--box:nth-child(5) .line {
  left: -50%;
}
.tree.six {
  width: 2500px;
}
.tree.six .category--box {
  position: relative;
}
.tree.six .category--box:nth-child(3) .line, .tree.six .category--box:nth-child(4) .line, .tree.six .category--box:nth-child(5) .line, .tree.six .category--box:nth-child(6) .line {
  left: -50%;
}
.tree.seven {
  width: 3000px;
}
.tree.seven .category--box {
  position: relative;
}
.tree.seven .category--box:nth-child(3) .line, .tree.seven .category--box:nth-child(4) .line, .tree.seven .category--box:nth-child(5) .line, .tree.seven .category--box:nth-child(6) .line, .tree.seven .category--box:nth-child(7) .line {
  left: -50%;
}
.tree .child {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin: 0;
  padding: 0;
  position: relative;
}
.tree .child .category p {
  color: #fff;
  background-color: rgba(255, 99, 2, 0.613);
}
.tree .child .tree .child .category p {
  background-color: rgba(56, 156, 183, 0.583);
}
.tree .child .tree .child .tree .child .category p {
  background-color: rgba(55, 188, 90, 0.573);
}
.tree .child .tree .child .tree .child .tree .child .category p {
  background-color: rgba(188, 55, 177, 0.573);
}/*# sourceMappingURL=index.css.map */